:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #FFFFFF;
  --color-btn: #008BFE;
  --color-btn-darker: #006FCB;
  --font: "Roboto", sans-serif;
}

body {
  font-family: var(--font);
}


